:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-tap-highlight-color: transparent !important;
}

body {
  margin: 0;
  font-family: 'Inter' !important;
}

.self-marker {
  background: #2a86cc;
  border: 3px solid #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #2a86cc;
  }
  50% {
    box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-directions,
.mapboxgl-ctrl-attrib {
  display: none !important;
}

.swiper-pagination {
  margin-bottom: 20vh;
}

.react-modal-sheet-container {
  box-shadow: none !important;
}
